@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kanit');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.html {
    color: #333;
    font-family: 'Kanit', sans-serif;
    height: 100%;
}

.body {
    min-height: 100vh;
    background-color: #FEFEFE;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 24px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    background: #fff;
    position: relative;
    z-index: 10;
}

.site-nav ul {
    list-style: none;
    display: flex;
    gap: 8px;
}

.site-nav ul li a {
    padding: 14px 16px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.site-nav ul li a:hover {
    color: #3DB5E6;
}

.about-section h2 {
    margin-left: 29px;
    margin-top: -56px;
    font-size: 50px;
    width: 437px;
    display: flex;
    color: #1E1E1E;
    flex-direction: column;
    justify-content: center;
}

.about-section p {
    margin-left: 29px;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 496px;
    color: #1E1E1E;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 121%;
    text-align: left;
}

.teamlinks,
h2 {
    display: block;
    margin-top: 50px;
    margin-left: 29px;
    margin-bottom: 20px;
}


.left {
    flex: 1;
    background-color: #f7f7f6;
    height: 100%;
}

.card-container {
    position: relative;
    width: 65vmin;
    height: 80vmin;
    margin: auto;
}

.card {
    position: absolute;
    top: -490px;
    left: 400px;
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    border-radius: 2px;
    box-shadow: 2px 2px 5px rgba(17, 17, 17, .35);
    transform: translate(var(--x), var(--y)) scale(.35) rotate(var(--angle));
    transition: transform .35s ease-out;
    will-change: transform;
}

.card:hover {
    transform: scale(1) rotate(0deg);
    z-index: 1;
}

.card:before {
    content: "";
    display: block;
    width: 90%;
    height: 80%;
    margin: 5%;
    background: var(--image) center/cover no-repeat;
    box-shadow: inset 0 0 5px rgba(34, 34, 34, .35);
    border-radius: 2px;
    filter: sepia(.2) brightness(.9) contrast(1.2);
    opacity: .8;
    transition: opacity .35s ease-out;
}

.card:hover:before {
    opacity: 1;
}

.card:after {
    content: var(--caption);
    display: block;
    font-size: 3vmin;
    color: #555;
    opacity: .75;
    text-align: center;
    margin-top: 10px;
}

.heading {
    margin: 2vmin 3vmin;
    color: #999;
}

.footer,
    p {
    font-size: 10px;
    margin-top: -50px;
    }

.about-team,
h2 {
    font-size: 50px;
    margin-top: -710px;
}

.aya-image {
  width: 300px;
  height: 300px;
  background-image: url('../Images/aya-photo.jpeg');
  background-size: cover;
  border-radius: 50%;
  background-repeat: no-repeat;
}

.ryder-image {
  width: 300px;
  height: 300px;
  background-image: url('../Images/ryder-photo.jpeg');
  background-size: cover;
  border-radius: 50%;
  background-repeat: no-repeat;
}

.paul-image {
  width: 300px;
  height: 300px;
  background-image: url('../Images/paul-photo.jpeg');
  background-size: cover;
  border-radius: 50%;
  background-repeat: no-repeat;
}
