@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kanit');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    min-height: 100vh;
    background-color: #FEFEFE;
    display: flex;
    flex-direction: column;
    font-family: 'Kanit', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 24px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    background: #fff;
}

.site-nav ul {
    list-style: none;
    display: flex;
    gap: 8px;
}

.site-nav ul li a {
    padding: 14px 16px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.site-nav ul li a:hover {
    color: #3DB5E6;
}

.about-layout {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    padding: 20px 0 0 29px;
    position: relative;
}

.about-left {
    flex: 1;
    max-width: 500px;
    margin-left: 38px;
}

.about-left h2 {
    font-size: 50px;
    color: #1E1E1E;
    margin-bottom: 20px;
    margin-top: 70px; 
}

.about-left p {
    margin-top: 15px; 
    margin-left: 0px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #1E1E1E;
    line-height: 1.25;
}

.about-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.card-wrapper {
    width: 600px;
    height: 100px;
    position: absolute;
    right: 0;
    top: 100px; 
}

.card {
    position: absolute;
    width: 260px;
    height: 320px;
    background: white;
    border-radius: 4px;
    padding: 12px;
    box-shadow: 0 8px 18px rgba(0,0,0,0.25);
    transform: rotate(var(--angle)) translate(var(--x), var(--y));
    transition: transform .35s ease-out, z-index .2s;
}

.card:hover {
    transform: scale(1.1) rotate(0deg);
    z-index: 20;
}

.card:before {
    content: "";
    display: block;
    width: 100%;
    height: 80%;
    background: var(--image) center/cover no-repeat;
    border-radius: 3px;
}

.card:after {
    content: var(--caption);
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
    color: #555;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.hr {
    width: 100%;
    height: 2px;
    background-color: gray;
    margin: 200px auto 10px auto;
}

.about-team,
h3 {
    font-size: 50px;
    text-align: center;
    margin-top: 70px;
    color: #1E1E1E;
}

.team-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 80px;
}

.team-member {
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.team-member .profile-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 15px;
}

.aya-image { background-image: url('../Images/aya-photo.jpeg'); }
.ryder-image { background-image: url('../Images/ryder-photo.jpeg'); }
.paul-image { background-image: url('../Images/paul-photo.jpeg'); }

.team-member a {
    display: block;
    margin-top: 10px;
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
    color: #1e1e1e;
}

.team-member a:hover {
    color: #3DB5E6;
}

.team-member .team-bio {
    margin-top: 5px;
    font-size: 16px;
    font-weight: 400;
    color: #555;
    line-height: 1.3;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
}

/* Bottom bar */
.bottom-barr {
  position: unset;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 67px;
  background-color: #587200;
  z-index: 10;
}

bottom-footer,
    p {
    font-size: 5px;
    margin: 0 0 20px 0;
    color: #2b2b2b;
    margin-left: 38px;
}

