body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

aboutHeader-textContainer {
    text-align: center;
    border: 1px solid black;
}