@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');

body {
  background-color: #FEFEFE;
  color: #000;
  font-family: 'Plus Jakarta Sans', sans-serif;
  margin: 0;
  padding: 0;
}

/* Header */
.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 16px;
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
}

.site-title {
  font-size: 28px;
  margin-left: 50px;
}

/* Nav */
.site-nav ul {
  list-style: none;
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.site-nav ul li a {
  color: #000;
  padding: 14px 16px;
  text-decoration: none;
}

.site-nav ul li a:hover {
  color: #3DB5E6;
}

/* Main layout */
.profile-body,
h2 {
    margin-left: 32px;
    font-size: 50px; ;
}

.profile-body,
p {
    margin-left: 32px;
    font-size: 10px; ;
}