@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kanit');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.html {
    color: #333;
    font-family: 'Kanit', sans-serif;
    height: 100%;
}

.body {
    min-height: 100vh;
    background-color: #FEFEFE;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 24px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    background: #fff;
    position: relative;
    z-index: 10;
}

.site-nav ul {
    list-style: none;
    display: flex;
    gap: 8px;
}

.site-nav ul li a {
    padding: 14px 16px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.site-nav ul li a:hover {
    color: #3DB5E6;
}