@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');

body {
  background-color: #FEFEFE;
  color: #000;
  font-family: 'Plus Jakarta Sans', sans-serif;
  margin: 0;
  padding: 0;
}

/* Header */
.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 16px;
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
}

.site-title {
  font-size: 28px;
  margin-left: 50px;
}

/* Nav */
.site-nav ul {
  list-style: none;
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.site-nav ul li a {
  color: #000;
  padding: 14px 16px;
  text-decoration: none;
}

.site-nav ul li a:hover {
  color: #3DB5E6;
}

/* Main layout */
main,
h2 {
  font-size: 50px;
  margin-left: 37px;
  margin-top: 150px;
}

p {
  font-size: 20px;
  margin-left: 37px;
  margin-top: -35px;
  color: #2b2b2b;
}

form input{
    font-family: 'Plus Jakarta Sans', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    margin: 10px;
    margin-left: 37px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.homeScreenImage {
  width: 1300px;
  height: 770px;
  border-radius: 63px 0 0 0;
  position: absolute;
  top: 120px;
  right: 0px;
  position: fixed;
}

.submit-button {
  margin-left: 37px;
  padding: 8px 14px;
  border-radius: 4px;
  border: none;
  background: #FF9F20;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.submit-button:hover {
  background: #497447;
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 67px;
  background-color: #5E845B;
  z-index: 10;
  
}